/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.metric-item {
  margin-bottom: 16px;
}

.metric-title {
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

.metric-subtitle {
  font-size: 14px;
  color: #BBB;
}
